@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&display=swap');

:root {
  --black: #121212;
  --azul: #00ff40;
  --laranja: #EA7D20; 
  --branco-light: #EBEBEB;
}

body {
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-family: Gantari, Orchidea Pro, sans-serif;

}

code {
  font-family: Gantari, Orchidea Pro, sans-serif;
}


